/temp/*
!/temp/.keep
/pyvenv.cfg
/bin/
/lib/
__pycache__/
/.vscode/
/include/
/fancy_title_generator/__pycache__/
/fancy_title_generator/model/__pycache__/
/fancy_title_generator/trie_model/__pycache__/

# web frontend
/node_modules